In [24]:
# set 만들기
# set은 수학의 집합과 비슷한 형태로 중복되는 데이터의 입력을 허용하지 않는 장점이 있지만 데이터를 입력하는 순서와 실제로 
# 데이터가 저장되는 순서가 달라서 인덱싱과 슬라이싱을 사용할 수 없다.
# 딕셔너리 처럼 {}를 사용해서 선언하지만 key가 존재하지 않고 value만 존재한다.

In [25]:
# 빈 set 만들기
a = {}
print(a)
print(type(a))
# 빈 set을 만들어 사용하려면 반드시 생성자 함수를 이용해서 만들어야 한다.
b = set()
print(b)
print(type(b))

{}
<class 'dict'>
set()
<class 'set'>

In [26]:
a = {1, 2, 3, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [27]:
a = {1, 2, 3, 4, 5, 1, 4, 6, 1, 3, 1}
print(a)
print(type(a))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [28]:
# add() 메소드로 set에 데이터를 추가한다. => 데이터를 저장하는 순서와 실제 데이터가 저장되는 순서는 다르다.
a = {'홍길동'}
print(a)
a.add('임꺽정')
print(a)
a.add('장길산')
print(a)
a.add('일지매')
print(a)
a.add('홍길동')
print(a)

# set은 데이터를 입력하는 순서와 저장되는 순서가 다르기 때문에 인덱싱과 슬라이싱을 사용할 수 없다.
# print(a[0])   # 에러
# print(a[1:3]) # 에러

{'홍길동'}
{'임꺽정', '홍길동'}
{'임꺽정', '장길산', '홍길동'}
{'일지매', '임꺽정', '장길산', '홍길동'}
{'일지매', '임꺽정', '장길산', '홍길동'}

In [29]:
# update() 메소드를 사용하면 리스트 또는 튜플을 사용해서 set에 여러건의 데이터를 한 번에 추가할 수 있다.
print(a)
a.update(['손오공', '크리닝', '마인부우'])
print(a)
a.update(['베지터', '브루마', '트랭크스'])
print(a)

{'일지매', '임꺽정', '장길산', '홍길동'}
{'일지매', '손오공', '장길산', '크리닝', '마인부우', '홍길동', '임꺽정'}
{'베지터', '일지매', '손오공', '장길산', '크리닝', '마인부우', '홍길동', '트랭크스', '임꺽정', '브루마'}

In [30]:
# remove() 메소드로 set에 저장된 데이터를 지정해서 제거할 수 있다.
a.remove('베지터')
print(a)
a.remove('베지터') # set에 저장되지 않은 데이터를 삭제하려 했으므로 에러가 발생된다.
print(a)

{'일지매', '손오공', '장길산', '크리닝', '마인부우', '홍길동', '트랭크스', '임꺽정', '브루마'}

KeyError: '베지터'

In [32]:
# discard() 메소드로 set에 저장된 데이터를 지정해서 제거할 수 있다.
a.discard('마인부우')
print(a)
a.discard('마인부우') # set에 존재하지 않는 데이터를 제거하려 해도 에러가 발생되지 않는다.
print(a)

{'일지매', '손오공', '장길산', '크리닝', '홍길동', '트랭크스', '임꺽정', '브루마'}
{'일지매', '손오공', '장길산', '크리닝', '홍길동', '트랭크스', '임꺽정', '브루마'}

In [33]:
# clear() 메소드로 set에 저장된 모든 데이터를 제거할 수 있다.
a.clear()
print(a)

set()

In [34]:
# del 명령으로 set 자체를 제거할 수 있다.
del a
print(a)

NameError: name 'a' is not defined

집합 연산자와 메소드

In [47]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

# 합집합
print(a.union(b))
print(a | b)
print('=' * 80)

# 교집합
print(a.intersection(b))
print(a & b)
print('=' * 80)

# 차집합
print(a.difference(b))
print(a - b)
print(b.difference(a))
print(b - a)
print('=' * 80)

# 대칭 차집합 => 합집합 - 교집합
print(a.symmetric_difference(b))
print(a ^ b)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
================================================================================
{3, 4, 5}
{3, 4, 5}
================================================================================
{1, 2}
{1, 2}
{6, 7}
{6, 7}
================================================================================
{1, 2, 6, 7}
{1, 2, 6, 7}